[submodule "commerce"]
	path = commerce
	url = https://github.com/jermin2/cs50w-commerce.git

[submodule "network"]
	path = network
	url = https://github.com/jermin2/cs50w-network.git

[submodule "wiki"]
	path = wiki
	url = https://github.com/jermin2/cs50W-wiki.git
[submodule "songs"]
	path = songs
	url = https://github.com/jermin2/songs.git
[submodule "mail"]
	path = mail
	url = https://github.com/jermin2/cs50W-mail.git
