[submodule "cs50W-mail"]
	path = cs50W-mail
	url = https://github.com/jermin2/cs50W-mail.git

[submodule "commerce"]
	path = commerce
	url = https://github.com/jermin2/cs50w-commerce.git

[submodule "network"]
	path = network
	url = https://github.com/jermin2/cs50w-network.git

